@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css');

* {
   padding: 0;
   margin: 0;
   font-family: 'Pretendard', sans-serif !important;
   text-decoration: none;
   color: inherit;
}
